# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle build output directory
build
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/jarRepositories.xml
/.idea/workspace.xml
/.idea/libraries
.idea/modules.xml
.idea/runConfigurations.xml
