name: Default CI Workflow

on: [ push,pull_request ]

env:
  TERM: dumb

jobs:
  lint:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: burrunan/gradle-cache-action@v1
        name: lint
        with:
          debug: false
          job-id: lint
          read-only: ${{ github.ref != 'refs/heads/main' }}
          gradle-dependencies-cache-key: |
            constants.gradle
          arguments: spotlessCheck
  scabbard-test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: burrunan/gradle-cache-action@v1
        name: scabbard-test
        with:
          debug: false
          job-id: scabbard-test
          read-only: ${{ github.ref != 'refs/heads/main' }}
          gradle-dependencies-cache-key: |
            constants.gradle
          arguments: test --scan
  scabbard-gradle-test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2

      - uses: burrunan/gradle-cache-action@v1
        name: scabbard-gradle-test
        with:
          debug: false
          job-id: scabbard-gradle-test
          read-only: ${{ github.ref != 'refs/heads/main' }}
          build-root-directory: scabbard-gradle-plugin
          gradle-dependencies-cache-key: |
            constants.gradle
          arguments: check --scan